<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}{% endblock %} | Zhop</title>
    </head>

    <body>
        <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">

            <a href="/" class="text-xl font-semibold">E-shop</a>

            <div class="space-x-6">

                <a href="{% url 'item:new' %}" class="inline-block text-xl font-bold leading-8 tracking-wider text-pink-500 hover:text-gray-500 transition duration-300 ease-in-out transform hover:scale-110" style="color:rgba(227, 120, 136, 0.817); text-shadow: 1px 1px 2px #f1d9ff;">New Item</a>
                
                <a href="#" class="inline-block text-xl font-bold leading-8 tracking-wider text-pink-500 hover:text-gray-500 transition duration-300 ease-in-out transform hover:scale-110" style="color:rgba(227, 120, 136, 0.817); text-shadow: 1px 1px 2px #f1d9ff;">Browse</a>
                {% if request.user.is_authenticated %}
                  <a href="#" class="inline-block px-6 py-3 text-lg font-bold leading-8 text-gray transition duration-300 ease-in-out transform border-2 border-pink-500 rounded-full hover:bg-pink-500 hover:text-gray-500 hover:scale-110" style="background-color: #FCE7F3;">InBox</a>
                  <a href="#" class="inline-block px-6 py-3 text-lg font-bold leading-8 text-gray transition duration-300 ease-in-out transform border-2 border-pink-500 rounded-full hover:bg-pink-500 hover:text-gray-500 hover:scale-110" style="background-color: #FCE7F3;">DashBoard</a>
                {% else %}
                  <a href="{% url 'core:signup' %}" class="inline-block px-6 py-3 text-lg font-bold leading-8 text-gray transition duration-300 ease-in-out transform border-2 border-pink-500 rounded-full hover:bg-pink-500 hover:text-gray-500 hover:scale-110" style="background-color: #FCE7F3;">Sign Up</a>
                  <a href="{% url 'core:login' %}" class="inline-block px-6 py-3 text-lg font-bold leading-8 text-gray transition duration-300 ease-in-out transform border-2 border-pink-500 rounded-full hover:bg-pink-500 hover:text-gray-500 hover:scale-110" style="background-color: #FCE7F3;">Login</a>
                {% endif %}
            </div>
        </nav>
        
        <div class="px-4 py-6">
        
            {% block content %}
            {% endblock %}
        </body>
        <footer class="bg-gray-200 py-10">
            <div class="container mx-auto px-4">
              <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
                <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
                  <h5 class="text-xl font-bold mb-6">About Us</h5>
                  <ul class="list-none footer-links">
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Our Story</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Careers</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Privacy and Policy</a>
                    </li>
                  </ul>
                </div>
                <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
                  <h5 class="text-xl font-bold mb-6">Customer Service</h5>
                  <ul class="list-none footer-links">
                    <li class="mb-2">
                      <a href="{% url 'core:contact' %}" class="hover:text-gray-500">Contact Us</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">FAQs</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Shipping</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Returns & Exchanges</a>
                    </li>
                  </ul>
                </div>
                <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
                  <h5 class="text-xl font-bold mb-6">Follow Us</h5>
                  <ul class="list-none footer-links">
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Facebook</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Twitter</a>
                    </li>
                    <li class="mb-2">
                      <a href="#" class="hover:text-gray-500">Instagram</a>
                    </li>
                  </ul>
                </div>
                <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
                  <h5 class="text-xl font-bold mb-6">Join Our Newsletter</h5>
                  <form>
                    <div class="mb-2">
                      <input type="text" class="px-3 py-2 w-full rounded-full text-gray-700 leading-tight focus:outline-none" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="bg-pink-500 text-white px-5 py-2 rounded-full hover:bg-gray-500 transition duration-300 ease-in-out">Subscribe</button>
                  </form>
                </div>
              </div>
              <div class="text-center mt-12">
                <p class="text-gray-500 text-sm">
                  &copy; 2023 E-commerce Company Name.
                </p>
              </div>
            </div>
        </footer>
          
    </body>

</html>